
body
{
    /* background:white ; */
}
#masterTable
{
    /* padding-left: 275px; */
    /* padding-bottom: 100px; */
    color: black;
}
#viewimg
{
    width: 50px;
    height: 50px;
}
input[type=text],input[type=password],input[type=email],input[type=date],input[type=number]
{
    font-size: 15px;
    color: #333;
    width: 100%;
    margin: 0 auto;
    font-size: medium;
    padding: 5px 5px;
    height: 35px;
   /* border: 1px black; */
   border-radius: 1px;
}

input[type=text]:read-only,input[type=password]:read-only,input[type=email]:read-only,input[type=date]:read-only,input[type=number]:read-only
{
    opacity: 50% ;
}
select {
    width: 100%;
    padding: 5px 5px;
    height: 45px;
    font-size: medium;
    border: 1px;
    border-radius: 1px;
   
  }

span
{
    color: red;
    font-size: 20px;
}

#delete,#edit,#stoke,#view,#search,#back,#add,#addorder
{
    text-decoration: none;
    display: block;
    justify-content: space-between;
    align-items: center;
    border: none;
    width: 125px;
    color: white; 
    padding: 14px 28px; 
    cursor: pointer;
}

#search{   background-color: #2196F3; }
#search:hover{background: #0b7dda;}

#back{   background-color:DarkOrange; }
#back:hover{background: rgb(255, 150, 21);}


#stoke {background-color: #4CAF50;} 
#stoke:hover {background-color: #46a049;}

#view {background-color: #4CAF50;} 
#view:hover {background-color: #46a049;}

#edit{background-color: #2196F3;} 
#edit:hover {background: #0b7dda;}

#delete {background-color: #fd1201;} 
#delete:hover {background: #da190b;}

#add{   background-color: rgb(255, 68, 0); }
#add:hover{background: rgb(221, 80, 29);} 

#addorder{background-color: rgb(255, 68, 0); }
#addorder:hover{background: rgb(221, 80, 29);} 

